<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red;
            }
            .success{
                color: green;
            }
        </style>
    </head>
<body>

    <div>
        <a href='/logout'>log out</a>
    </div>
    <span>
        <a href="/blog">Main Blog Page</a>
    </span>
    <span>
        <a href="/newpost">Add a Blog Entry</a>
    </span>
    <span>
        <a href="/">User Page</a>
    </span>

    {% block title %}

    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    
    {% block content %}
    {% endblock %}

</body>
</html>